import java.io.File;
import java.io.FileInputStream;
import java.io.FileNotFoundException;
import java.io.IOException;
import java.util.Properties;

public class PropertiesLoadDemo {
	
	public static void main(String[] args){
		File file  = new File("src/demo.properties") ;  //CLASS_PATH路径
		try {
			FileInputStream in = new FileInputStream(file) ;
			Properties prop = new Properties() ;
			prop.load(in) ;
			
			String pass = prop.getProperty("xiaoming") ;
			System.out.println(pass) ;
			
			String pass1 = prop.getProperty("xiaoming1");
			System.out.println(pass1) ; //如果key不存在，返回null
			
		} catch (FileNotFoundException e) {
			e.printStackTrace();
		} catch (IOException e) {
			e.printStackTrace();
		}
	}

}
